* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Header */
#header {
    background-color: #013621;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 10% 1% 10%;
    color: #DCEFE2;
    font-weight: 600;

    .logo {
        img {
            height: 77px;
            width: 254px;
        }
    }

    ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-evenly;
        gap: 10px;
        margin: 0 20px;

        li {
            list-style-type: none;
            position: relative;
            padding: 5px 10px;
            cursor: pointer;

            a {
                color: #DCEFE2;
                text-decoration: none;
            }
        }
    }

    .login {
        position: relative;
        padding: 5px 10px;
        cursor: pointer;

        a {
            color: #DCEFE2;
            text-decoration: none;
        }
    }
}

.cur-page::after {
    content: '';
    position: absolute;
    left: 7px;
    bottom: 0;
    height: 1px;
    width: 0;
    background-color: #DCEFE2;
    width: 80%;
}

.underline::after {
    content: '';
    position: absolute;
    left: 5px;
    bottom: 0;
    height: 1px;
    width: 0;
    background-color: #DCEFE2;
    transition: width 0.3s ease;
}

.underline:hover::after {
    width: 85%;
}

/* Hero-section */
#hero-section {
    width: 100%;
    background-color: white;
    color: #000000;
    padding: 7% 10%;
    border-bottom: 5px solid #017D48;

    #scroll-container {
        width: 100%;
        overflow: hidden;

        .scroll-content {
            display: flex;
            white-space: nowrap;
            animation: scroll 15s linear infinite;

            .scroll-text {
                font-size: 400%;
                font-weight: 600;
            }
        }
    }

    #software-builders {
        width: 100%;
        margin-top: 50px;
        display: flex;

        .image {
            width: 55%;
            padding: 1%;

            img {
                height: 90%;
                width: 100%;
            }
        }

        .content {
            width: 45%;
            padding-left: 50px;
            padding-right: 100px;

            span {
                color: #017D48;
                font-weight: 600;
                font-size: 19px;
                word-spacing: 1px;
            }

            .heading {
                font-size: 46px;
                font-weight: 600;
                margin-top: 20px;
                margin-bottom: 50px;
            }

            .text1 {
                font-size: 24px;
                color: #000000;
                margin-bottom: 10px;
            }

            .price {
                font-size: 35px;
                color: #000000;
            }

            .text2 {
                font-size: 17px;
                color: #000000;
                margin-bottom: 20px;
            }

            .text3 {
                font-size: 16px;
                color: #353535;
                font-weight: 600;
                margin-bottom: 20px;
            }

            button {
                padding: 20px 33px;
                background-color: #017D48;
                border-radius: 5px;
                font-weight: bold;
                border: none;
                color: #FFFFFF;
                margin-bottom: 20px;
            }

            button:hover {
                background-color: transparent;
                color: #017D48;
                border: 2px solid #017D48;
            }

            ul {
                border-top: 1px solid grey;
                padding-top: 20px;
                padding-bottom: 20px;
                line-height: 35px;

                li {
                    list-style-type: none;
                    color: #353535;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-127%);
    }
}

/* AI Agents */
#AI-agents {
    background-color: #017d4b2a;
    padding: 7% 33%;

    .heading {
        font-size: 46px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 20px;
    }

    .content {
        font-size: 20px;
        word-spacing: 2px;
        line-height: 30px;
    }
}

/* Quote */
#quote {
    background-color: white;
    border-bottom: 5px solid #017D48;
    text-align: center;
    padding: 5% 25%;
    border-bottom-left-radius: 600px;
    border-bottom-right-radius: 600px;

    .text {
        font-size: 46px;
        color: #017D48;
        font-weight: 600;
        margin-bottom: 30px;
    }

    .author {
        font-size: 16px;
        color: #000000;
    }
}

/* Key Application */
#key-aaplication {
    padding: 5% 0;

    #power {
        padding: 0 25%;

        .heading {
            font-size: 46px;
            text-align: center;
            font-weight: 600;
            margin-bottom: 20px;
        }

        .text {
            padding: 0 18%;
            color: #012c1b;
            font-size: 19px;
            word-spacing: 3px;
        }
    }

    #keys {
        padding: 0 10%;

        .blocks {
            display: flex;
            margin-top: 150px;
            gap: 50px;

            .content {
                width: 45%;

                .heading {
                    font-size: 30px;
                    color: #02C071;
                    font-weight: 600;
                    margin-bottom: 30px;
                }

                .text {
                    word-spacing: 3px;
                    color: #013621;

                    p {
                        line-height: 25px;
                    }
                }
            }

            .image {
                width: 55%;

                img {
                    height: 350px;
                    width: 650px;
                }

                p {
                    color: #013621;
                    font-size: 18px;
                    word-spacing: 3px;
                    line-height: 25px;
                    margin-top: 20px;
                }
            }

            a {
                color: #0039B3;
            }

            a:hover {
                color: #013621;
            }
        }
    }
}

/* Learn more */
#learn-more {
    height: 80vh;
    width: 100%;
    background: url("images/wonderblu_surrealism_illustration_online_course_generative_ai_l_abaa8709-00f1-43ac-8ed1-634650ff73c5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 10% 10%;

    .heading {
        font-size: 46px;
        font-weight: 600;
        color: #DCEFE2;
    }

    .content {
        margin: 5% 25%;
        padding: 30px 0;
        border-top: 1px solid white;

        span {
            font-size: 46px;
            font-weight: 600;
            color: #FFFFFF;
        }

        p {
            font-size: 19px;
            word-spacing: 3px;
            color: #FFFFFF;
            line-height: 25px;
            letter-spacing: 1px;
            padding-top: 40px;
            padding-bottom: 50px;
        }

        button {
            padding: 20px 53px;
            background-color: #FFFFFF;
            border-radius: 5px;
            font-weight: bold;
            border: none;
            margin-bottom: 20px;
            letter-spacing: 1px;

            a {
                color: #000000;
                text-decoration: none;
            }
        }

        button:hover {
            background-color: #000000;

            a {
                color: #FFFFFF;
            }
        }
    }
}

/* footer */
#footer {
    background-color: black;
    text-align: center;
    padding: 4% 20%;

    .list1 {
        ul {
            display: flex;
            gap: 20px;
            justify-content: center;

            li {
                list-style-type: none;
                font-size: 14px;
                color: #FFFFFF;
                text-transform: uppercase;
            }
        }
    }

    .list2 {
        margin-top: 30px;

        ul {
            display: flex;
            gap: 20px;
            justify-content: center;

            li {
                font-size: 14px;
                list-style-type: none;
                text-transform: uppercase;

                a {
                    color: #017D48;
                }
            }
        }
    }

    .terms {
        font-size: 14px;
        margin-top: 30px;

        a {
            color: #017D48;
        }
    }
}